{% from 'components/post.html' import postsfeed %}
{% from 'components/components.html' import topnav, sidenav %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ community.display_name }} - SGEN</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../static/styles/style.css">
        <link rel="stylesheet" href="../../static/styles/communities.css">
        <link rel="stylesheet" href="../../static/styles/root.css">
    </head>
    <body style="margin: 0; padding: 0;">{{ topnav() }}<div class="container" style="margin-top: 60px; display: flex;">
        {{ sidenav(community) }}
        <main class="main-content" style="padding-top: 0;">
            {{ postsfeed(community_posts) }}
        </main>
    </div>
    </body>
</html>