.side-bar {
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding-bottom: 20px;
}
.side-bar::-webkit-scrollbar {
    width: 6px;
}
.side-bar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}